@import 'tailwindcss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@theme {
  --color-card-divider: #ededf0;
  --color-gray-100: #f8f9fb;
  --color-gray-200: #dfe1e4;
  --color-gray-500: #6b6f76; /** secondary */
  --color-gray-600: #212b36; /** primary */
  --color-blue-300: #0c41bb;
}
