@import 'tailwindcss';

/* prevent layout shift caused by scrollbar */
html {
  scrollbar-gutter: stable;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@theme {
  --color-card-divider: #ededf0;
  --color-gray-100: #f8f9fb;
  --color-gray-150: #eff1f4;
  --color-gray-200: #dfe1e4;
  --color-gray-500: #6b6f76; /** secondary */
  --color-gray-600: #212b36; /** primary */
  --color-blue-300: #0c41bb;
  --shadow-popover-050: 0px 6px 20px 0px rgba(0, 0, 0, 0.07);
  --text-body-micro: 10px;
  --text-body-xs: 12px;
  --leading-body-micro: 18px;
}

/* Undo preflight for specific elements.*/
@layer base {
  /* Revert and restore styles for svg element */
  svg {
    all: revert;
    fill: none;
  }
}
